@using WebStoreApp.Shared.Frameworks.Models
<InputSelect TValue="@WebStoreApp.Shared.Frameworks.Models.CustomSelectBox">
    @foreach (var item in Prop.Options)
    {
        <option value="@item.Value" onselect="@(() => Prop.OnValueChanged?.Invoke(this,item))">
            @item.Label
        </option>
    }   
</InputSelect>
@code {
    [Parameter]
    public WebStoreApp.Shared.Frameworks.Models.CustomSelectBox Prop { get; set; }
}
