
<div class="bg w-fit rounded-lg bg-cyan-500 p-4 px-5 py-4 text-6xl text-[#aa22ff]">
  Hello Blazor and Tailwind
</div>
<InputText @bind-Value="Value"
           class="form-control"
           DisplayName="@ErroreMessage"
           placeholder="@Placeholder" />
<ValidationMessage For="For" />

@code {
    [Parameter] public string? Placeholder { get; set; }

    [Parameter] public string? Value { get; set; }
    [Parameter] public string? ErroreMessage { get; set; }
    [Parameter] public Expression<Func<object>>? For { get; set; }

    // ساخت دیکشنری با type = password
    private Dictionary<string, object> inputAttributes => new()
        {
            ["type"] = "Text"
        };
}
